<div class="asset-upload">
    <mat-expansion-panel id="asset-upload-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Asset Upload
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="button-filename">
            <button mat-raised-button 
                    color="primary" 
                    type="button" 
                    (click)="fileInput.click()">
            <span>Upload File</span>
            <input #fileInput 
                   type="file" 
                   (change)="onFileInput($event)" 
                   name="filename"
                   accept="image/*,video/*"/>
            </button>
            <p *ngIf="file">{{file.name}}</p>
        </div>
        <br>
        OR
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Upload Asset from Link</mat-label>
            <input matInput 
                   placeholder="Sample asset link here"
                   [ngModel] = "assetLink"
                   (blur)="assetLinkUpload($event.target.value)"/>
        </mat-form-field>
        <mat-error *ngIf="isSizeInvalid">
            Video is larger than the recommended size of 4 MB
        </mat-error>
    </mat-expansion-panel>
</div>