@import '../app.component.scss';

mat-expansion-panel {
    border-bottom: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none !important;
}

.button-filename input {
    display: none;
}

.button-filename {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    margin-top: 10px;
    margin-left: 15px
}

mat-form-field {
    width: 100%;
}

button {
    background-color: $google-blue !important;
}