.toolbar {
    align-items: center;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    display: flex;
    height: 60px;
    left: 0%;
    overflow: hidden;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

mat-expansion-panel {
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none !important;
    margin: -20px;
    margin-left: 0px;
    width: 100%;   
}

mat-form-field {
    width: 100%;
}