<div class="ad-authoring">
    <br>
    <mat-expansion-panel id="call-to-action-panel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Call To Action
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Landing Page URL</mat-label>
            <input matInput 
                   type="text" 
                   placeholder="https://example.com" 
                   [ngModel] = "landingUrl"
                   (blur)="updateLandingUrl($event.target.value)"
                   [formControl]="urlControl"
                   required/>
            <mat-error *ngIf="urlControl.invalid">
                {{getErrorMessage()}}
            </mat-error>
        </mat-form-field>
    
        <br>
    
        <mat-form-field>
            <mat-label>Landing Page Type</mat-label>
            <mat-select 
                class="landing-page"
                (selectionChange)="updateLandingType($event.value)">
                <mat-option *ngFor="let landingTypeValue of landingTypeValues" 
                            [value]="landingTypeValue">
                    {{LandingTypeMapping[landingTypeValue]}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field>
            <mat-label>Call to Action Text</mat-label>
            <mat-select 
                class="call-to-action"
                (selectionChange)="updateCallToAction($event.value)">
                <mat-option *ngFor="let callToActionValue of callToActionValues" 
                            [value]="callToActionValue">
                    {{CallToActionMapping[callToActionValue]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
    
    <br>

</div>
