@import '../app.component.scss';

mat-expansion-panel {
    border-bottom: 1px solid $grey-border;
    border-radius: 0;
    box-shadow: none !important;
    margin: -20px;
    margin-left: 0px;
    width: 100%;   
}

mat-form-field {
    width: 100%;
}